<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/notice.css">
    <link rel="stylesheet" href="/static/css/notice_detail.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script defer src="/static/js/notice/notice_detail.js"></script>
<title>Insert title here</title>
</head>
<body>
	<th:block th:replace="/notice/header"></th:block>
    <main>
    	<article>
    		<section class="notice__detail--header">
    			<h1 class="notice__detail--title">스프링부트</h1>
    			<div class="notice__detail--description">
    				<h3>글번호 : 1</h3>
    				<h3>작성자 : mollani</h3>
    				<h3>작성일 : 2023-03-20</h3>
    				<h3>조회수 : 3</h3>
    			</div>
    		</section>
    		<section class="notice__content"></section>
    		<section class="notice__file">
    			<h3>첨부파일 : </h3>
    			<a href="#">aaaa.jpg</a>
    		</section>
    		<div class="detail__buttons">
    			<button type="button" class="detail__button pre">이전</button>
    			<button type="button" class="detail__button next">다음</button>
    		</div>
    		<div>
    			<button type="button" class="detail__button modify">수정</button>
    			<button type="button" class="detail__button delete">삭제</button>
    			<button type="button" class="detail__button list">목록</button>
    		</div>
    	</article>
    </main>
</body>
</html>