<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="/static/js/signup.js" defer></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <title>Document</title>
    </head>
    <body>
        <form method="post" class="signup__form">
            <label>사용자 이름</label>
            <input name="name" class="name"/><br />
            <label>아이디</label>
            <input name="username" class="username"/><br />
            <label>비밀번호</label>
            <input type="password" name="password" class="password"/><br />
            <label>이메일</label>
            <input type="email" name="email" class="email"/>
        </form>
        <button class="signup__btn" type="submit">회원가입</button>
    </body>
</html>
